*[class^="membersWrap-"],
div[class^="members-"],
div[role="list"][aria-label="Members"] {
    min-width: 64px;
    max-width: 64px;
    transition: min-width 0.4s ease-in-out;
}
*[class^="membersWrap-"]:hover,
*[class^="membersWrap-"]:hover 
div[class^="members-"],
*[class^="membersWrap-"]:hover
div[role="list"][aria-label="Members"] {
    min-width: 240px;
    transition: min-width 0.4s ease-in-out;
}
*[class^="membersWrap-"] h2 {
    text-overflow: ellipsis;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s ease-in-out, opacity 300ms;
}
*[class^="membersWrap-"]:hover h2 {
    text-overflow: ellipsis;
    visibility: visible;
    opacity: 1;
    display: flex !important;
    transition: visibility 0.4s ease-in-out 0.2s, opacity 300ms 0.2s;
}